table {
    border-collapse: collapse;
    width: 80%;
    font-family: "Times New Roman", serif;
    font-size: 14px;
}
td, th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

.outer-only {
    outline: 1px;
}

.outer-only td{
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.outer-only td:first-child {
    border-left: 1px solid black;
}

.outer-only td:last-child {
    border-right: 1px solid black;
}

.no-borders td {
    border: none;
}
input[type="text"] {
    width: 50px;
}
.save-btn {
    margin-top: 10px;
    padding: 4px 12px;
    margin-left: 40%;
}

#medium {
    width: 25px;
}

.left {
    text-align: left;
}