* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    z-index: 1000;
}


.logo {
    margin-left: 3%;
    margin-top: 14px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5%;
}

.sidebar {
    width: 180px;
    height: calc(100vh - 60px);
    border-right: 1px solid #000;
    position: fixed;
    top: 60px;
    left: 0;
}

.sidebar a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.sidebar a:first-child {
    border: none;

}

.sidebar a:nth-child(2) {
    border-left: none;
    border-right: none;
}

.main {
    margin-left: 220px;      
    margin-top: 60px;
    padding: 20px;
}


.srchAndAdd {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.srchAndAdd h2 {
    margin-right: 20px;
}

.search {
    position: relative;
    width: 35%;
}

.search input {
    height: 32px;
    border: 1px solid black;
    padding: 5px 30px 5px 8px;
    border-radius: 5px;
}

.search i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.status {
    text-align: center;
    border: 1px solid black;
    height: 32px;
    padding: 5px 8px;
    width: 40%;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}

.addCustomer {
    width: 25%;
    margin-left: 160px;
}
.addCustomer button {
    height: 32px;
    background: #dbf3ce;
    border: none;
    border: 1px solid #6b8a5e;
    padding: 0 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 140px;
}

.stat {
    margin-left: 123px;
}

.search input {
    padding: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    max-width: 94%;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.active {
    color: green;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

.popupBox {
    background: white;
    width: 400px;
    border: 1px solid #000;
    font-size: 13px;
}

.popupBox h3 {
    margin-bottom: 15px;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.row div {
    flex: 1;
}

input, textarea {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

textarea {
    height: 60px;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.btns button {
    padding: 6px 14px;
    cursor: pointer;
}

.btns button:last-child {
    background: #b7e1a1;
}

.inactive {
    color: red;
}

.sidebar a{
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.sidebar a:last-child {
    border: none;
    border-bottom: 1px solid black;
}

.page {
    width: 30%;
    font-size: 15px;
    margin-left: 66%;
}

.customerInvoice a:nth-child(2) {
    background-color: #b2e5e5;
}

.customer a:nth-child(1) {
    background-color: #b2e5e5;
}

.Pstat {
    margin-left: 30%;
}

h2 {
    font-style: italic;
}

.yelloww {
    color: rgb(214, 187, 32);
}

.addd {
    border-bottom: 1px solid black;
}

.header {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
}

form {
    padding: 15px;
}

.closeButton {
    border: 1px solid rgb(146, 144, 144);
    border-radius: 5px;
}

.saveButton {
    background: #dbf3ce;
    border: 1px solid #6b8a5e;
    border-radius: 5px;
}

.deletePopup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.deleteBox {
    background: #fff;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.deleteBox .icon i {
    font-size: 40px;
    margin-bottom: 10px;
}

.deleteBox h3 {
    margin: 10px 0;
}

.deleteBox p {
    font-size: 14px;
    color: #555;
}

.deleteBtns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.deleteBtns button {
    padding: 6px 20px;
    border-radius: 4px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.deleteBtns .delBtn {
    background: #ffd6d6;
    border-color: red;
}

.report a:last-child {
    background-color: #b2e5e5;
}

.tabless {
    font-size: 14px;
    text-align: justify;
}

.leftAlign {
    text-align: left;
}

.reportButton button {
    height: 32px;
    background: #afeaff;
    border: 1px solid #539ac9;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 550px;
}

.Gray {
    background-color: #f0f0f0;
}

.rightAlign {
    text-align: right;
}
