/* Task-1 */
.formWrapper {
    max-width: 1100px;
    margin: 30px auto;
}

.summaryBox {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px 15px;
    font-size: 14px;
}

.actionBtn {
    min-width: 120px;
}

.tableWrapper {
    margin-top: 20px;
}

input,
select {
    height: 38px;
}

.formWrapper {
    margin-top: 30px;
}

small.text-danger {
    display: block;
}

