body {
    background-color: #808080;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 16px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    background: transparent;
    border: 2px solid #333;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.login-box button:hover {
    background: #333;
    color: #fff;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #333);
    animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #333);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #333);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #333);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.login-box p:last-child {
    color: #aaa;
    font-size: 14px;
}

.login-box .error {
    color: red;
    font-size: 12px;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: left;
    position: absolute;
}

.body {
    background-color: #f7f7f7;
}

.header {
    background: #d9eaf7;
    border: 1px solid #b9cfe3;
    text-align: center;
    font-weight: 600;
    padding: 6px;
}

.col-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-item {
    background: #b7d7a8;
    border: 1px solid #6aa84f;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-area-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.drop-area {
    border-radius: 4px;
    min-height: 50px;
    border: 2px dashed #6aa84f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.reconcile-btn {
    background: #6aa84f;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.reconcile-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.middle-item {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 6px;
}

.middle-item.mb-3 {
    margin-top: 20px;
}

.tx-card.selected {
    border: 2px solid #6aa84f;
    background: #eaf0d9;
}
