body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: rgb(113, 185, 226);
    padding: 5px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.changes {
    background-color: white;
    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.navbar h2 {
    color: white;
    margin-left: 3%;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar h2:last-child {
    margin-right: 3%;
    font-weight: light;
}
.functions {
    margin: 5px;
    border: 1px solid #bebaba;
    padding: 6px 8px;
    font-size: 0;
}
.buttons button {
    width: 26px;
    height: 30px;
    border: none;
    background-color: white;
    margin-right: 3px;
    padding: 0;
    border-radius: 5px;
}
.buttons button:hover {
    background-color: #c7c6c6;
}
.buttons button i {
    font-size: 20px;
    color: #313030;
}
.para {
    border: 1px solid #bebaba;
    padding: 8px;
    margin: 5px;
}
#txt {
    width: 100%;
    height: 220px;
    border: none;
    resize: none;
    outline: none;
}
.footer {
    padding: 10px 15px;
    text-align: right;
}
.close {
    background-color: #ffffff;
    border: 1px solid #bebaba;
    color: #797676;
    padding: 7px 10px;
    margin-right: 6px;
    border-radius: 5px;
    font-weight: bold;
}
.save {
    background-color: rgb(113, 185, 226);
    border: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
}